$baseColours = {
  white: #F5F6FD
  darkWhite: #ebebec
  pure: #FEFEFE

  dark: #212121
  slate: #353b48

  orangePrimary: #e67e22,
  orangeSecondary: #d35400
}

$vibrantPalette = {
  lightSeaGreen: #13997E
  lightYellow: #FFE5AA
  steelBlue: #9DD4CB
  paleViolet: #DF7784
}