$white = #F5F6FD
$darkWhite = #ebebec
$darkWhiteSecondary = darken($darkWhite, 15%)
$pure = #FEFEFE
$grey = #636e72

$dark = #212121
$darkSecondary = lighten($dark, 40%)
$slate = #353b48

$orangePrimary = #e67e22
$orangeSecondary = #d35400

$lightSeaGreen = #13997E
$emeraldGreen = #2ecc71
$lightYellow = #FFE5AA
$steelBlue = #9DD4CB
$paleViolet = #DF7784

$bigFontSize = 25px
$mediumFontSize = 20px
$smallFontSize = 15px